--- dsc.conf.sample.orig	2015-09-11 19:09:25 UTC
+++ dsc.conf.sample
@@ -12,7 +12,7 @@
 #
 #	dsc passes this directory to chdir() after starting.
 #
-run_dir "/usr/local/dsc/run/NODENAME";
+run_dir "/var/run/dsc/NODENAME";
 
 # minfree_bytes
 #
@@ -48,7 +48,7 @@
 # 	specifies a network interface to sniff packets from.
 #	can specify more than one.
 #
-interface fxp0;
+interface em0;
 
 # qname_filter
 #
